/* app css stylesheet */
body{
    --yellow: #eecf6d;
    --dark-yellow: #d5ac4e;
    --brown: #8b6220;
    --red: #720e07;
    --dark-red: #45050c;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: var(--dark-yellow);
}

/* HELPERS */

.dark-red-bg{
    background-color: var(--dark-red) !important;
}

.red-bg{
    background-color: var(--red) !important;
}

.dark-yellow-bg{
    background-color: var(--dark-yellow) !important;
}

.yellow-bg{
    background-color: var(--yellow) !important;
}

.brown-bg{
    background-color: var(--brown) !important;
}

.left{
    float: left;
}

.right{
    float: right;
}

.white-text{
    color: white;
}

.full-height{
    height: 100% !important;
}

.full-width{
    width: 100% !important;
}

.center-align{
    text-align: center;
}


/* CUSTOMIZATION */

nav{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
}

.brand-logo{
    margin-left: 50px;
}

.page-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.access-universe form h2,  .access-universe form .input-field *{
    color: white !important;
}

.access-universe{
    height: 50%;
}

.carousel{
    height: calc(100% - 50px) !important;
}

.carousel-item.right-align{
    position: relative;
    padding-right: 10%;
}

.carousel-item.left-align{
    position: relative;
    padding-left: 10%;
}

.carousel-item *{
    position: relative;
    top: 40%; /* poussé de la moitié de hauteur du référent */
}

.connection-container{
    width: 30% !important;
    margin: 0 auto;
    position: relative;
    height: 60%;
    top: 20%;
    min-width: 275px;
    background: url("/images/background-cement-concrete-242236.jpg") no-repeat center;
    background-size: cover;
}

.mdl-card__title #connection-menu{
    float: right;
}

.connection-tabs{
    height: 100%;
}

.connection-tabs  .mdl-tabs__panel{
    height: calc(100% - 49px);
}

.connection-tabs  .mdl-tabs__panel form{
    width: 50%;
    margin: auto;
}


/* NG VIEW */
.slide {
    position: absolute;
    width: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

#errorMessage {
    font-size: 1.5em;
    font-weight: bold;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('images/logo-MBAL.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}


