<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MBAL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    -->
    <link rel="stylesheet" href="material.min.css">

</head>
<body ng-controller="ctrl as ctrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div class="fullscreen-bg">
    <video loop muted autoplay poster="images/logo-MBAL.png" class="fullscreen-bg__video">
        <source src="images/Mailbox.mp4" type="video/mp4">
    </video>
</div>


<div class="mdl-card mdl-shadow--2dp connection-container">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect connection-tabs">
        <div class="mdl-tabs__tab-bar">
            <a href="#connection" class="mdl-tabs__tab is-active">Connexion</a>
            <a href="#signup" class="mdl-tabs__tab">Inscription</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="connection">

            <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="email" id="mail" ng-model="user.username">
                    <label class="mdl-textfield__label" for="mail">Adresse mail</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="password" id="pass" ng-model="user.password">
                    <label class="mdl-textfield__label" for="pass">Mot de passe</label>
                </div>
                <div class="center-align connection-button">
                    <button ng-click="ctrl.loginFct(user);" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                        CONNEXION
                    </button>
                </div>
            </form>

        </div>
        <div class="mdl-tabs__panel" id="signup">
            <ul>
                <li>Tywin</li>
                <li>Cersei</li>
                <li>Jamie</li>
                <li>Tyrion</li>
            </ul>
        </div>
    </div>

</div>




<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="connection-menu">
    <li class="mdl-menu__item">Some Action</li>
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Another Action</li>
    <li disabled class="mdl-menu__item">Disabled Action</li>
    <li class="mdl-menu__item">Yet Another Action</li>
</ul>



<!--
<nav class="dark-red-bg">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">MBAL</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="login" href="#access-universe">{{ctrl.login}}</a></li>
        </ul>
    </div>
</nav>
-->
<!-- <div id="subscribeModal" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Inscription</h4>
        <div class="row">
            <form name="subscribeForm">
                <div class="col s6 input-field">
                    <input id="nom" type="text" class="validate" ng-model="userInfo['name']" required>
                    <label for="nom">Nom</label>
                </div>
                <div class="col s6 input-field">
                    <input id="prenom" type="text" class="validate" ng-model="userInfo['prenom']" required>
                    <label for="prenom">Prénom</label>
                </div>
                <div class="col s6 input-field">
                    <input id="mail" type="email" class="validate" ng-model="userInfo['mail']" required>
                    <label for="mail">Adresse email</label>
                </div>
                <div class="col s6 input-field">
                    <input id="pass" type="password" class="validate" ng-model="userInfo['password']" required>
                    <label for="pass">Mot de passe</label>
                </div>
                <div class="col s12">
                    <div class="col s3"></div>
                    <div class="col s6 input-field">
                        <input id="tel" type="number" class="validate" ng-model="userInfo['num_tel']" required>
                        <label for="tel">Téléphone</label>
                    </div>
                    <div class="col s3"></div>
                </div>
                <div class="col s12">
                    <div class="col s3"></div>
                    <div class="col s6 center-align">
                        <button class="btn waves-effect waves-light" ng-click="ctrl.createUser(userInfo)" ng-disabled="subscribeForm.$invalid" type="submit" name="action">S'inscrire
                            <i class="material-icons right">send</i>
                        </button>

                    </div>
                    <div class="col s3"></div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="access-universe" id="access-universe">
    <div class="row container dark-yellow-bg">

        <div class="col s3">
        </div>

        <form class="col s6 center">
            <h2 class="center-align">ACCÉDEZ À L'UNIVERS</h2>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" ng-model="user.username">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" ng-model="user.password">
                    <label for="password">Mot de passe</label>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s6 center-align">
                    <a href="#subscribeModal" class="waves-effect waves-light btn red-bg modal-trigger">Inscription</a>
                </div>
                <div class="col s6 center-align">
                    <button ng-click="ctrl.loginFct(user);" class="btn waves-effect waves-light red-bg" type="submit" name="action">Se connecter
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>

        <div class="col s3 valign-wrapper">
        </div>

    </div>
</div>

-->

<!--
<footer class="page-footer red-bg">
    <div class="footer-copyright dark-red-bg full-width">
        <div class="container center-align">
            © 2018   MBAL
        </div>
    </div>
</footer>
-->

<!--
<div id="errorDialog" class="modal">
    <div class="modal-content">
        <h4 class="center-align red-text">Erreur</h4>
        <p id="errorMessage" class="center-align">{{ ctrl.errorOnInit }}</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
</div>
-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>

<script src="service/mbal-service.js"></script>
<script src="app.js"></script>

</body>
</html>
